/*  selenized.dark theme author Diego H <https://github.com/dieghernan/> */
/* Source: https://github.com/dieghernan/selenized-theme */
pre code.hljs { display: block; overflow-x: auto; padding: 1em; }

code.hljs { padding: 3px 5px; }

.hljs { display: block; overflow-x: auto; padding: 0.5em; color: #ADBCBC; background: #103C48; }

.hljs-keyword { color: #75B938; }

.hljs-built_in { color: #4695F7; }

.hljs-type { color: #4695F7; }

.hljs-literal { color: #41C7B9; }

.hljs-number { color: #41C7B9; }

.hljs-operator { color: #75B938; }

.hljs-punctuation { color: #ADBCBC; }

.hljs-property { color: #4695F7; }

.hljs-regexp { color: #41C7B9; }

.hljs-string { color: #41C7B9; }

.hljs-char.escape_ { color: #FA5750; }

.hljs-subst { color: #ADBCBC; }

.hljs-symbol { color: #ADBCBC; }

.hljs-class { color: #4695F7; }

.hljs-variable { color: #ADBCBC; }

.hljs-variable.language_ { color: #FA5750; }

.hljs-variable.constant_ { color: #FA5750; }

.hljs-title { color: #4695F7; }

.hljs-comment { color: #72898F; }

.hljs-meta { color: #75B938; font-weight: bold; }

.hljs-section { color: #EBC13D; }

.hljs-name { color: #4695F7; }

.hljs-attr { color: #75B938; }

.hljs-attribute { color: #DBB32D; }

.hljs-code { color: #4695F7; }

.hljs-strong { color: #ADBCBC; font-weight: bold; }

.hljs-emphasis { color: #ADBCBC; font-style: italic; }

.hljs-selector-id { color: #75B938; }

.hljs-quote { color: #ADBCBC; }

.hljs-selector-class { color: #4695F7; }

.hljs-selector-tag, .hljs-selector-attr, .hljs-selector-pseudo { color: #75B938; }

.hljs-deletion { color: #FF665C; }

.language-html .hljs-string { color: #41C7B9; }

.language-css.hljs, .language-scss.hljs { color: #4695F7; }

.language-scss .hljs-variable, .language-css .hljs-variable { color: #ED8649; }

.language-scss .hljs-keyword, .language-css .hljs-keyword { color: #75B938; }

.language-yaml .hljs-attr { color: #75B938; }

.language-yaml .hljs-type { color: #4695F7; }

.language-yaml .hljs-attr { color: #75B938; }

.language-yaml .hljs-type { color: #4695F7; }

.language-json .hljs-attr { color: #DBB32D; }
