/* // Selenized themes
.theme-dark {
  --bg-primary: #103c48;
  --bg-secondary: #184956;
  --bg-tertiary: #2d5b69;
  --bg-highlight: #72898f;
  --border: #72898f;
  --text-primary: #adbcbc;
  --text-secondary: #72898f;
  --text-dim: #72898f;

  --red: #fa5750;
  --orange: #ed8649;
  --yellow: #dbb32d;
  --green: #75b938;
  --cyan: #41c7b9;
  --blue: #4695f7;
  --magenta: #af88eb;
  --violet: #af88eb;
}

.theme-light {
  --bg-primary: #fbf3db;
  --bg-secondary: #ece3cc;
  --bg-tertiary: #d5cdb6;
  --bg-highlight: #909995;
  --border: #909995;
  --text-primary: #53676d;
  --text-secondary: #909995;
  --text-dim: #909995;

  --red: #d2212d;
  --orange: #c25d1e;
  --yellow: #ad8900;
  --green: #489100;
  --cyan: #009c8f;
  --blue: #0072d4;
  --magenta: #ca4898;
  --violet: #8762c6;
}

.theme-black {
  --bg-primary: #181818;
  --bg-secondary: #252525;
  --bg-tertiary: #3b3b3b;
  --bg-highlight: #777777;
  --border: #777777;
  --text-primary: #b9b9b9;
  --text-secondary: #777777;
  --text-dim: #777777;

  --red: #ed4a46;
  --orange: #e67f43;
  --yellow: #dbb32d;
  --green: #70b433;
  --cyan: #3fc5b7;
  --blue: #368aeb;
  --magenta: #a580e2;
  --violet: #a580e2;
} */

// Gruvbox Material themes
.theme-dark {
  --bg-primary: #282828;
  --bg-secondary: #32302f;
  --bg-tertiary: #45403d;
  --bg-highlight: #5a524c;
  --border: #928374;
  --text-primary: #d4be98;
  --text-secondary: #928374;
  --text-dim: #928374;

  --red: #ea6962;
  --orange: #e78a4e;
  --yellow: #d8a657;
  --green: #a9b665;
  --cyan: #89b482;
  --blue: #7daea3;
  --purple: #d3869b;
  --violet: #d3869b;
  --accent: #a9b665;
}

.theme-light {
  --bg-primary: #fbf1c7;
  --bg-secondary: #f2e5bc;
  --bg-tertiary: #eee0b7;
  --bg-highlight: #ddccab;
  --border: #928374;
  --text-primary: #654735;
  --text-secondary: #928374;
  --text-dim: #928374;

  --red: #c14a4a;
  --orange: #c35e0a;
  --yellow: #b47109;
  --green: #6c782e;
  --cyan: #4c7a5d;
  --blue: #45707a;
  --purple: #945e80;
  --violet: #945e80;
  --accent: #6c782e;
}

.theme-black {
  --bg-primary: #282828;
  --bg-secondary: #32302f;
  --bg-tertiary: #45403d;
  --bg-highlight: #5a524c;
  --border: #928374;
  --text-primary: #d4be98;
  --text-secondary: #928374;
  --text-dim: #928374;

  --red: #ea6962;
  --orange: #e78a4e;
  --yellow: #d8a657;
  --green: #a9b665;
  --cyan: #89b482;
  --blue: #7daea3;
  --purple: #d3869b;
  --violet: #d3869b;
  --accent: #a9b665;
}
